* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

input {
    width: 30vw;
    padding: .4rem .4rem;
    border: 2px solid #0e0e0e;
    outline: none;
    border-radius: .3rem;
    margin: 1rem 0 0rem 0;
    font-size: 1.2rem;
}

p {
    display: none;
    margin:.1rem 0 0 0;
    font-weight: bold;
}

button {
    width: 30vw;
    margin-top: 1rem;
    padding: .4rem 1rem;
}